* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#content {
	height: 100vh;
	width: 100%;
	min-width: 900px;
}

#mapArea {
	height: 100vh;
	width: 70%;
	background-color: grey;
	float: left;
}

#trackArea {
	height: 100vh;
	width: 30%;
	background-color: #21b2a5;
	float: right;
}

#controls {
	height: 50px;
}

span.trackButton {
	width: 100% - 5px;
	height: 20px;
	float: left;
	clear: left;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

span.trackButton:nth-child(even) {
	background-color: #cccccc;
}

span.trackButton:nth-child(odd) {
	background-color: white;
}

span.trackButton.active {
	background-color: #333333;
	color: white;
}